{% extends 'main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'user.css' %}">
{% endblock %}

{% block content %}



<div class="login-container">
    {% if error %}
    <div class="error-msg">User does not exist</div>
    {% endif %}
    <form action="" method="POST" class="login-form">
        {% csrf_token %}


        <label>Username</label>
        <input type="text" name="username" placeholder="Enter your username">

        <button type="submit">Submit</button>

    </form>

</div>


{% endblock %}