{% extends 'main.html' %}


{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'user.css' %}">
{% endblock %}
{% block content %}





<div class="body">
    {% if status %}
    <h2 style="color:red;">invalid username or password</h2>
    {% endif %}
    <div class="card login_card">

        <form action="" method="POST">
            <div class="text">
                <h1>Welcome to Shop sphere</h1>

            </div>

            {% csrf_token %}

            <div class="input-field">
                <input type="text" name="username" id="" placeholder="Enter your Username">

                <input type="password" name="password" id="" placeholder="Enter your password">


                <button type="submit">Let’s Go</button>
            </div>

            <a href="{% url 'forget_pass' %}">forget password</a>

        </form>
    </div>
</div>

{% endblock %}