{% extends 'main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'user.css' %}">
{% endblock %}

{% block content %}



    {% if error %}
    <div class="error-msg">{{error}}</div>
    {% endif %}


<div class="login-container">

    <form action="" method="POST" class="login-form">

        {% csrf_token %}

        <label>new password:</label>
        <input type="password" name="password" id="">

        <br>
        <button type="submit">submit</button>


    </form>
</div>

{% endblock %}