<nav>
    <div class="logo">
        <h1>shopsphere</h1>
    </div>
    <div class="links">

        {% if request.user.is_authenticated %}
        {% if profile_nav %}
        <a href="{% url 'home' %}">home</a>
        <a href="{% url 'cart' %}">cart({{cartproducts_count}})</a>
        <a href="{% url 'profile' %}">profile({{request.user}} )</a>
        <a href="{% url 'logout_' %}">logout</a>

        <a href="{% url 'orderhistory' %}">My Orders</a>
        {% else %}

        <form action="">
            {% csrf_token %}
            <input type="text" name="q" id="" placeholder="" class="search">
            <input type="button" value="search" class="btn">
        </form>

        <!-- trending button  -->
        <div class="wrapper">
            <form action="">
                <input type="submit" name="trending" value="trending" class="trending">
            </form>

            <!-- offer button -->
            <form action="">
                <input type="submit" name="offer" value="offer" class="offer">
            </form>
        </div>

        <a href="{% url 'home' %}">home</a>
        <a href="{% url 'cart' %}">cart({{cartproducts_count}}) </a>
        <a href="{% url 'profile' %}">profile({{request.user}} )</a>
        <a href="{% url 'orderhistory' %}">My Orders</a>
        <a href="{% url 'logout_' %}">logout</a>


        {% endif %}

        {% else %}
        {% if login_nav %}

        <a href="{% url 'home' %}">home</a>
        <a href="{% url 'login_' %}">login</a>
        <a href="{% url 'register' %}">register</a>

        {% else %}
        <form action="">

            <input type="text" name="q" id="" placeholder="" class="search">
            <input type="button" value="search" class="btn">
        </form>


        <!-- trending button  -->
        <form action="">
            <input type="submit" name="trending" value="trending" class="trending">
        </form>

        <!-- offer button -->
        <form action="">
            <input type="submit" name="offer" value="offer" class="offer">
        </form>

        <a href="{% url 'home' %}">home</a>
        <a href="{% url 'login_' %}">login</a>
        <a href="{% url 'register' %}">register</a>

        {% endif %}
        {% endif %}
    </div>
</nav>